@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center bg-white border rounded p-5">
    <h1 class="display-2">Welcome The Dr.Jones Pixel Art Editor!</h1>
    <h2>Whether you're using it to make your own projects (like indie games!) or you're just playing around, feel free to explore all of the possibilities this tool has to offer!</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p class="fs-3">1. You can create fun art works</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">2. You can create sprites (simple game character designs)</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">3. ...and mess around!</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">Head over to the Editor to get started!</p>
        </li>
        <li class="list-group-item">
            <a class="fs-3 bg-success border rounded btn text-white" asp-controller="Home" asp-action="PixelEditor">Go to Editor!</a>
        </li>
    </ul>
</div>
