@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-white border rounded p-5">
    <h1 class="display-2">Welcome The Dr.Jones Pixel Art Editor!</h1>
    <h2>Whether you're using it to make your own projects (like indie games!) or you're just playing around, feel free to explore all of the possibilities this tool has tool offer!</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p class="fs-3">1. Instructions Line 1</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">2. Instructions Line 2</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">3. Instructions Line 3</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">4. Instructions Line 4</p>
        </li>
        <li class="list-group-item">
            <p class="fs-3">5. Instructions Line 5</p>
        </li>
    </ul>
</div>
