@{
    ViewData["Title"] = "Pixel Editor";
}

<div class="p-5">
    <div class="mb-5">
        <h1 class="text-center text-white">Instructions</h1>
        <ul class="list-group list-group-flush border rounded">
            <li class="list-group-item">
                <p class="">1. Instructions Line 1</p>
            </li>
            <li class="list-group-item">
                <p class="">2. Instructions Line 2</p>
            </li>
            <li class="list-group-item">
                <p class="">3. Instructions Line 3</p>
            </li>
            <li class="list-group-item">
                <p class="">4. Instructions Line 4</p>
            </li>
            <li class="list-group-item">
                <p class="">5. Instructions Line 5</p>
            </li>
        </ul>
    </div>
    <div style="height: 1000px; width: 1000px;" class="container bg-secondary text-center border rounded">
        <h1 class="text-white">Editor</h1>
        <hr>
        <div tabindex="0" id="app" class="container d-flex justify-content-center align-items-center w-100 h-75"></div>
    </div>
</div>