@{
    ViewData["Title"] = "Pixel Editor";
}

<div class="p-5">
    <div class="mb-5">
        <h1 class="text-center text-white">Instructions</h1>
        <ul class="list-group list-group-flush border rounded">
            <li class="list-group-item">
                <p class="">1. You can change the size of the canvas to suit your needs using the selector.</p>
            </li>
            <li class="list-group-item">
                <p class="">2. There are keyboard shortcuts for the drawing tools using the number keys.</p>
                <p class="ps-2">"1" = Draw Tool</p>
                <p class="ps-2">"2" = Fill (Paint bucket tool)</p>
                <p class="ps-2">"3" = Rectangle Tool</p>
                <p class="ps-2">"4" = Circle Tool</p>
                <p class="ps-2">"5" = Color Picker Tool</p>
            </li>
            <li class="list-group-item">
                <p class="">3. You may save your picture by clicking the save button.</p>
            </li>
            <li class="list-group-item">
                <p class="">4. You may load in a picture your have previously drawn in order to make edits.</p>
            </li>
            <li class="list-group-item">
                <p class="">5. And you may undo any action by clicking the undo button (order using Ctrl/Cmd + Z)</p>
            </li>
        </ul>
    </div>
    <div class="container bg-secondary text-center border border-black rounded">
        <h1 class="text-white">Editor</h1>
        <hr class="border border-1">
        <div tabindex="0" id="app" class="container mb-3"></div>
    </div>
</div>